*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1f1f1f;
    color: #e8e8e8;
}

nav{
    display: flex;
    align-items: center;
    background-color: #171717;
    margin: auto;
    justify-content: space-between;
    padding: 10px 45px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20%;
    padding: 10px 20px;
}

li a{
    text-decoration: none;
    color: #d2d2d2;
    font-size: 18px;
    transition: color 0.3s ease;
}
li a:hover{
    color: rgba(255, 140, 0, 0.781);
}

.active{
    font-weight: bold;
    color: rgba(255, 140, 0, 0.781);
}